<nav>
<p>Read:  <a href="/success_stories">SUCCESS STORIES</a> <a href="/add_story">ADD YOUR STORY</a> </p>
</nav>
<div class="sucess">
<h1>Want to share your story?</h1>
<p>We'd love to hear more about your story: your experience on our training, the power of following your dreams, and how our training helped you  in your journey of preparing for PMI.</p>
<form action="" method="post">
<label for="">Name</label>
<input type="text" name='name'>
<br>
<br>
<label for="">Email</label>
<input type="text" name='email'>
<br>
<br>
<label for=""></label>
<p>We'd love to know more about your Sucess story.*</p>
<input type="text" name='story' style="height:200px;width: 100%; ">
<br>
<br>
<button>Submit</button>
</div>