<h1>Contact Us</h1>
<div class="contact">
<form action="" method="post">
<label for="">Name</label>
<input type="text" name='Name'>
<br>
<br>
<label for="">email</label>
<input type="text" name='email'>
<br>
<br>
<label for="">Message</label>
<input type="text" name='message' style="height:200px;width: 100%;" >
<br>
<br>
<button>Submit</button>
</form>
</div>