<h1> stories</h1>
<p>Read:  <a href="/success_stories">SUCCESS STORIES</a> <a href="/add_story">ADD YOUR STORY</a> <a href="/edit">edit your story</a> </p>

<form action="" method="">
<label for="">name</label>
<input type="text" name="name"value="<%= @story.name%>">
<label for="">sucess_story</label>

<input type="text" name= "story" value="<%= @story.story%">
<button>update</button>
</form>